bandit==1.7.4
certifi==2022.9.24
colorama==0.4.5
distlib==0.3.6
filelock==3.8.0
gitdb==4.0.9
GitPython==3.1.27
pbr==5.10.0
pipenv==2022.10.12
platformdirs==2.5.2
PyYAML==6.0
smmap==5.0.0
stevedore==4.0.0
virtualenv==20.16.5
virtualenv-clone==0.5.7
waitress==2.1.2 